.body {
background-image: url(https://fondosmil.com/fondo/18743.jpg);
background-position: center;
background-size: cover;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin: 0;
}
.profile {
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}
.profile__container {
padding: 0 1rem;
}
.card {
    background-color: aliceblue;
    box-shadow: 0 0 0.125rem 0.125rem black;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 320px;
    transition: box-shadow 0.25s;
}
.card:hover {
    box-shadow: 0 0 0.125rem 0.125rem;

}
.card__header,
.card__footer {
    background-color: rgb(230, 157, 226);
    padding: 1rem;


}
.card__header-img-container {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 256px;
    height: 256px;
    background-color: rgb(230, 157, 226);
    margin: auto;

}
.card__header-img {
    width: 100%;
    height: 100%;

}
.card__body {

}
.card__body-title {

}
.card__body-keywords {

}
.card__body-presentation {

}

.card__footer-nav-list {

}
.card__footer-nav-item {

}
.card__footer-nav-link {

}
.card__footer-nav-img {}